.header {
    display: flex;
    justify-content: space-between; /* Pushes logo to left and nav to right */
    align-items: center; /* Aligns vertically */
    padding: 10px 20px; /* Adds spacing */
    background-color: #f8f9fa; /* Optional: Background color */
}

.logo-head img {
    height: 75px; /* Adjust as needed */
}

.nav-bar {
    display: flex;
     gap: 20px; /*Adds space between navbar items */
}

.nav-bar div {
    cursor: pointer;
    font-weight: bold;
}

.res-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card-body{
    width: 250px;
    height: 400px;
    border-color: green;
    border-radius: 5px;
}

.res-image{
    width: 200px;
    height: 250px;
}


