.header {
    display: flex;
    justify-content: space-between; /* Pushes logo to left and nav to right */
    align-items: center; /* Aligns vertically */
    padding: 10px 20px; /* Adds spacing */
    background-color: #f8f9fa; /* Optional: Background color */
}

.logo-head img {
    height: 75px; /* Adjust as needed */
}

.nav-bar {
    display: flex;
     gap: 20px; /*Adds space between navbar items */
}

.nav-bar div {
    cursor: pointer;
    font-weight: bold;
}

.res-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card-body{
    width: 250px;
    height: 400px;
    border-color: green;
    border-radius: 5px;
}

.res-image{
    width: 200px;
    height: 250px;
}

.shimmer-card{

    background-color: gray;
    width: 250px;
    height: 400px;
    border-color: green;
    border-radius: 5px;
    margin: 20px;
    margin-top: 40px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    flex: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  .search-input:focus {
    border-color: #ff6600;
  }
  
  .search-button {
    padding: 12px 16px;
    border: none;
    background: #ff6600;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .search-button:hover {
    background: #e65c00;
  }
  
